{% extends 'base.html.twig' %}

{% block title %}Produits - moncommerce{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="col-sticky">
                <figure class="figure">
                    <a href="{{ path('product', { 'slug' : product.slug }) }}">
                        <img src="{{ product.image }}" class="figure-img img-fluid rounded" alt="{{ product.name }}">
                    </a>
                </figure>
            </div>
        </div>
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <hr class="col-3 col-md-2 mb-5">
            <p class="text-end text-price">{{ product.price }}€</p>
            <p class="text-description">{{ product.description }}</p>
            <hr>
            <a href="#" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>
{% endblock %}